<br />
<br />
<div class="booyah-box col-10 offset-1">
<h1>Get the Scoop on the Hottest Television Shows Here! </h1>
<h2>View News on Television Celebrities</h2>
<h3>Sign up with Televiewer to Get the Latest Information on Your Favorite T.V. Series Sent to Your Email</h3>
<br />
<br />
</div>